@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  position: relative;
  font-family: "DM Sans", sans-serif; }

@keyframes scaleUp {
  0% {
    transform: scale(0); }
  80% {
    transform: scale(1.15); }
  100% {
    transform: scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/**
  *
  * Testing
  *
  **/
.iris-card {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.08);
  border-radius: 1.8rem;
  position: relative;
  min-width: 41.6rem;
  width: 41.6rem;
  min-height: 62.9rem;
  height: 62.9rem;
  background: #fff; }
  .iris-card__header {
    opacity: 0;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    min-height: 27.8rem;
    display: block;
    background-image: linear-gradient(123.75deg, #f5821f 1.87%, #ff5c00 120.46%);
    animation: fadeIn 1s ease-in forwards; }

.header-content {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  color: #fff;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-top: 2rem; }
  .header-content [class*="--header-"]:not(:last-child) {
    margin-bottom: 0.5rem; }
  .header-content--header-one {
    font-size: 3rem; }
  .header-content--header-two {
    position: relative;
    font-size: 2.2rem;
    font-weight: 700; }
    .header-content--header-two .handwave {
      top: -18%;
      position: absolute;
      font-size: 3rem; }
  .header-content--paragraph {
    font-size: 2.3rem;
    font-weight: 100; }

.section {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 2s;
  height: 40rem;
  border: 0.1rem solid #e4e4e4;
  border-radius: 0.8rem;
  position: absolute;
  top: 19.9rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 95%;
  background: #fff;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.05); }
  .section__container {
    position: relative;
    height: 100%;
    width: 100%; }
    .section__container .custom-button {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.4rem;
      width: 26.8rem;
      background: #fff;
      border-radius: 10rem;
      margin: 0 auto;
      border: 0.1rem solid #d1d1d1;
      box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
      animation: fadeIn 0.7s ease-in forwards;
      animation-delay: 12000ms; }
      .section__container .custom-button > img {
        margin-right: 0.8rem; }
      .section__container .custom-button:hover {
        background: rgba(208, 208, 208, 0.173); }
      .section__container .custom-button:active {
        background: #dfdfdf;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1); }

.container {
  text-align: center; }
  .container__robo-icon-container {
    position: absolute;
    top: -8%;
    left: 5%;
    width: 6.7rem;
    height: 6.7rem;
    border-radius: 5rem;
    background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scaleUp 0.5s cubic-bezier(0.83, -0.04, 0.65, 0.98) 0.6s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    -webkit-backface-visibility: hidden;
    /* add to fix webkit bug jitter */
    -webkit-transform: perspective(1000px);
    /* add to fix webkit bug jitter */ }
    .container__robo-icon-container > img {
      padding-bottom: 0.4rem; }
  .container__faq {
    display: flex;
    padding-top: 5rem;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1rem; }
    .container__faq--header-black {
      font-weight: 100;
      font-size: 1.4rem;
      margin-right: 0.9rem; }
    .container__faq--circle {
      text-align: center;
      border-radius: 5rem;
      height: 2.1rem;
      width: 2.1rem;
      background: rgba(247, 183, 49, 0.12); }
      .container__faq--circle > b > .qs {
        text-shadow: 0.06rem 0.06rem #888;
        color: #ff7600; }
  .container__list {
    list-style: none; }
    .container__list--list-item {
      opacity: 0;
      border-radius: 0.8rem;
      margin: 0 auto;
      width: 33.9rem;
      height: 5rem;
      border: 0.1rem solid #e1e1e1;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.05);
      animation: fadeIn 0.7s ease-out forwards;
      animation-delay: 5s; }
      .container__list--list-item:not(:last-child) {
        margin-bottom: 1rem; }
      .container__list--list-item:last-child {
        margin-bottom: 2.5rem; }
      .container__list--list-item .outer-circle {
        margin-left: 0.8rem;
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 5rem;
        background: rgba(247, 183, 49, 0.12);
        display: flex;
        align-items: center;
        justify-content: center; }
        .container__list--list-item .outer-circle > .inner-circle {
          background: rgba(255, 118, 0, 0.8);
          width: 0.8rem;
          height: 0.8rem;
          border-radius: 5rem;
          transition: 0.3s all; }
      .container__list--list-item > p {
        margin-left: 0.8rem;
        font-size: 1.2rem;
        color: #2d2d2d;
        line-height: 2.1rem; }
      .container__list--list-item:nth-child(1) {
        animation-delay: 4s; }
      .container__list--list-item:nth-child(2) {
        animation-delay: 6s; }
      .container__list--list-item:nth-child(3) {
        animation-delay: 8s; }
      .container__list--list-item:nth-child(4) {
        animation-delay: 10s; }
      .container__list--list-item:hover > .outer-circle > .inner-circle {
        transform: scale(1.3); }
      .container__list--list-item:hover {
        background: rgba(208, 208, 208, 0.173); }
