@import "./base/base.scss";
@import "./variables/variables";
@import "./mixin/mixins";
@import "./animations/animations";
@import "./media-queries/media-queries";
.iris-card {
  box-shadow: 0 0 5rem rgba(0, 0, 0, 0.08);
  border-radius: 1.8rem;
  position: relative;
  min-width: $card-width;
  width: $card-width;
  min-height: $card-height;
  height: $card-height;
  background: #fff;

  &__header {
    opacity: 0;
    border-top-left-radius: 1.6rem;
    border-top-right-radius: 1.6rem;
    min-height: 27.8rem;
    display: block;
    background-image: linear-gradient(
      123.75deg,
      #f5821f 1.87%,
      #ff5c00 120.46%
    );
    animation: fadeIn 1s ease-in forwards;
  }

  //   @include media("<=phone") {
  //     width: 36rem;
  //     min-width: 36rem;
  //   }
  //   @include media("<=bigPhone") {
  //     width: 41.1rem;
  //     min-width: 41.1rem;
  //   }
  //   @include media("<=phablets") {
  //     width: 54rem;
  //     min-width: 54rem;
  //   }
}

.header-content {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  animation-delay: 1s;
  color: #fff;
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding-top: $main-padding;

  [class*="--header-"] {
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &--header-one {
    font-size: $header-one;
  }
  &--header-two {
    position: relative;
    font-size: $header-two;
    font-weight: 700;
    .handwave {
      top: -18%;
      position: absolute;
      font-size: $header-one;
    }
  }
  &--paragraph {
    font-size: $header-paragraph;
    font-weight: $header-paragrah-font-weight;
  }
}

.section {
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
  animation-delay: 2s;
  height: 40rem;
  border: 0.1rem solid #e4e4e4;
  border-radius: 0.8rem;
  position: absolute;
  top: 19.9rem;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
  width: 95%;
  background: #fff;
  box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.05);
  &__container {
    position: relative;
    height: 100%;
    width: 100%;

    .custom-button {
      opacity: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4.4rem;
      width: 26.8rem;
      background: #fff;
      border-radius: 10rem;
      margin: 0 auto;
      border: 0.1rem solid #d1d1d1;
      box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
      & > img {
        margin-right: 0.8rem;
      }
      animation: fadeIn 0.7s ease-in forwards;
      animation-delay: 12000ms;
      &:hover {
        background: $hover;
      }
      &:active {
        background: rgb(223, 223, 223);
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.container {
  text-align: center;
  &__robo-icon-container {
    position: absolute;
    top: -8%;
    left: 5%;

    width: 6.7rem;
    height: 6.7rem;
    border-radius: $border-radius;
    background: linear-gradient(180deg, #ff7600 0%, #ff5c00 100%);
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: scaleUp 0.5s cubic-bezier(0.83, -0.04, 0.65, 0.98) 0.6s;
    animation-delay: 3s;
    animation-fill-mode: backwards;
    -webkit-backface-visibility: hidden; /* add to fix webkit bug jitter */
    -webkit-transform: perspective(1000px); /* add to fix webkit bug jitter */

    & > img {
      padding-bottom: 0.4rem;
    }
  }
  &__faq {
    display: flex;
    padding-top: 5rem;
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1rem;
    &--header-black {
      font-weight: 100;
      font-size: 1.4rem;

      margin-right: 0.9rem;
    }
    &--circle {
      text-align: center;
      border-radius: $border-radius;
      height: $circle-question;
      width: $circle-question;
      background: $circle-color;
      & > b > .qs {
        text-shadow: 0.06rem 0.06rem #888;
        color: #ff7600;
      }
    }
  }
  &__list {
    list-style: none;
    &--list-item {
      opacity: 0;
      border-radius: 0.8rem;
      margin: 0 auto;
      width: 33.9rem;
      height: 5rem;
      border: 0.1rem solid #e1e1e1;
      display: flex;
      align-items: center;
      box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.05);

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &:last-child {
        margin-bottom: 2.5rem;
      }
      .outer-circle {
        margin-left: 0.8rem;
        height: 1.4rem;
        width: 1.4rem;
        border-radius: $border-radius;
        background: $circle-color;
        display: flex;
        align-items: center;
        justify-content: center;
        & > .inner-circle {
          background: rgba(255, 118, 0, 0.8);
          width: 0.8rem;
          height: 0.8rem;
          border-radius: $border-radius;

          transition: 0.3s all;
        }
      }
      & > p {
        margin-left: 0.8rem;
        font-size: 1.2rem;
        color: #2d2d2d;
        line-height: 2.1rem;
      }
      animation: fadeIn 0.7s ease-out forwards;
      animation-delay: 5s;

      &:nth-child(1) {
        animation-delay: 4s;
      }
      &:nth-child(2) {
        animation-delay: 6s;
      }
      &:nth-child(3) {
        animation-delay: 8s;
      }
      &:nth-child(4) {
        animation-delay: 10s;
      }
      &:hover > .outer-circle > .inner-circle {
        transform: scale(1.3);
      }
      &:hover {
        background: $hover;
      }
    }
  }
}
