$card-width: 41.6rem;
$card-height: 62.9rem;

$main-background-white: #e5e5e5;
$main-padding: 2rem;

$header-one: 3rem;
$header-two: 2.2rem;
$header-paragraph: 2.3rem;
$header-paragrah-font-weight: 100;

$circle-question: 2.1rem;
$border-radius: 5rem;
$circle-color: rgba(247, 183, 49, 0.12);
$hover: rgba(208, 208, 208, 0.173);
