@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  // outline: 1px solid black;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This is 10px
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  position: relative;
  font-family: "DM Sans", sans-serif;
}
